{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "MONGODB_URI": "<CONFIGURAR_LOCALMENTE>",
    "ADMIN_USERNAME": "<CONFIGURAR_LOCALMENTE>",
    "ADMIN_PASSWORD": "<CONFIGURAR_LOCALMENTE>",
    "ADMIN_SECRET": "<CONFIGURAR_LOCALMENTE>"
  }
}
